astroid==3.3.8
blinker==1.8.2
boolean.py==4.0
CacheControl==0.14.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
cyclonedx-python-lib==8.7.0
defusedxml==0.7.1
dill==0.3.8
filelock==3.17.0
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.5
license-expression==30.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.0
packageurl-python==0.16.0
packaging==24.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.8.0
platformdirs==4.3.6
pluggy==1.5.0
py-serializable==1.1.2
Pygments==2.19.1
pylint==3.3.1
pyparsing==3.2.1
pytest==8.3.3
pytest-dotenv==0.5.2
python-dotenv==1.0.1
requests==2.32.3
rich==13.9.4
sortedcontainers==2.4.0
toml==0.10.2
tomlkit==0.13.2
urllib3==2.3.0
Werkzeug==3.1.3
